/* Globais */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
}
.wrapper-container {
  min-width: 769px;
}
/* Header */
header {
  background-color: #1a90cd;
}
header a {
  color: #fff;
}
header a:hover {
  color: #fff;
}
/* logo */
.logo {
  width: 15%;
}
.logo a {
  width: 100%;
  height: 100%;
}
/* nav */
header ul li {
  font-size: 0.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0.6rem;
}
header ul li:hover {
  background-color: #249ad1;
  cursor: pointer;
  transition: all 225ms ease-in-out;
}

/* Main */
main {
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: 300px auto;
  margin-bottom: 5vh;
}
/* path-city-state */
.path-city-state {
  grid-area: 1/ 1/ 2/ 3;
}
.path-city-state ul {
  display: flex;
  padding: 0;
  gap: 0.4rem;
  height: 100%;
  align-items: flex-end;
}
.path-city-state ul li a {
  color: #828282;
  font-size: 0.7rem;
}
.path-city-state ul li a:hover {
  color: #249ad1;
}
.path-city-state ul li:not(:first-child):before {
  content: "· ";
  font-size: 20px;
  vertical-align: middle;
  line-height: 0.7rem;
  color: #828282;
}
/* Main content */
.main-content {
  grid-area: 2/ 2/ 3/ 3;
}
.main-content nav {
  font-size: 0.7rem;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
}
.main-content nav a {
  color: #249ad1;
}
.main-content nav ul {
  display: flex;
  height: 100%;
  margin-bottom: 0;
  padding: 0;
  border-collapse: collapse;
}

.main-content nav li {
  padding: 0.5rem 1rem;
}
.main-content nav li.active {
  border-bottom: 3px solid #249ad1;
}
/* searchResult */

/* Error */
.status-error-msg {
  color: #ff0000;
  text-align: center;
  margin: 2rem 0;
}
.error-msg-format:not(.status-error-msg) {
  text-align: center;
  font-weight: 700;
}
.error-msg-format:nth-child(1) {
  margin-top: 2rem;
}

/* reset search */
.reset-button {
  font-size: 0.7rem;
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-right: 1.2rem;
}
.reset-city-state {
  margin-top: 0.5rem;
}
.reset-city-state span:hover::after {
  background-color: #777;
  color: #fddb87;
}
.reset-button-Title-list {
  border: 1px solid #249ad1;
  border-radius: 20px;
  padding: 0.3rem 1.2rem 0.3rem 0.3rem;
  color: #249ad1;
  transition: all 00ms ease-in-out;
}
.reset-button-Title-list:hover {
  background-color: #ecf6fc;
}
.reset-button span::after {
  border-radius: 50%;
  content: "×";
  display: inline-block;
  font-size: 16px;
  height: 14px;
  line-height: 14px;
  padding: 1px;
  position: absolute;
  right: 3px;
  text-align: center;
  width: 14px;
  transition: all 200ms ease-in-out;
}
/* list properties */

.title-list-properties {
  font-size: 1rem;
}

#search-result a {
  height: 100%;
  width: 100%;
  display: flex;
}
#search-result .property-box {
  border: 1px solid #eee;
  transition: all 200ms ease-in-out;
  display: flex;
  height: 200px;
}
#search-result .property-box:hover {
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}
/* Property Box */
#search-result .img-box {
  width: 560px;
  height: 100%;
}
#search-result .img-box img {
  width: 100%;
  height: 100%;
}
#search-result .property-info {
  font-size: 0.6rem;
  padding: 0.8rem;
  color: #212121;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
#search-result .property-info p {
  margin-bottom: 0;
}
#search-result .property-info > p:nth-child(1) {
  color: #a5a5a5;
}
#search-result .property-info > p:nth-child(2) {
  font-size: 1rem;
}
#search-result .property-info ul {
  margin: 0.5rem 0;
  display: flex;
  gap: 0.3rem;
  padding-left: 0;
}
#search-result .property-info ul span {
  margin-left: 0.25rem;
  opacity: 0.8;
}
#search-result .property-info .amenities-box {
  display: flex;
  gap: 2%;
  flex-wrap: wrap;
}
#search-result .property-info .amenities {
  background-color: #ebebeb;
  border-radius: 20px;
  padding: 0.1rem 0.3rem;
  color: #b4b4b4;
}
#search-result .property-info .price-infos {
  position: absolute;
  bottom: 0.8rem;
}
#search-result .property-info .price-infos p:nth-child(1) {
  font-size: 1rem;
  font-weight: bold;
}
#search-result .property-info .price-infos p:nth-child(2) span {
  font-weight: bold;
}
/* hidden buttons */
#search-result .property-info .contact-box {
  visibility: hidden;
  padding: 0;
  display: flex;
  gap: 3%;
  width: 40%;
  height: 15%;
  position: absolute;
  bottom: 0.8rem;
  right: 0.8rem;
  justify-content: flex-end;
  transition: all 150ms ease-in-out;
}
#search-result .property-info:hover .contact-box {
  visibility: visible;
}
#search-result .property-info .contact-btn {
  font-size: 0.7rem;
  line-height: 0.7rem;
  border-radius: 1px;
  background-color: #fff;
  color: #ee6500;
  border: none;
  transition: all 125ms ease-in-out;
}
#search-result .property-info .contact-btn:hover {
  background-color: #ee6500;
  color: #fff;
  transition: all 125ms ease-in-out;
}

/* aside */
aside {
  grid-area: 2/ 1/ 3/ 2;
  font-size: 0.9rem;
}
aside#search-side-bar input:focus,
aside#search-side-bar label:focus,
aside#search-side-bar input:focus+label{
  box-shadow: none; 
}
aside#search-side-bar label:focus,
aside#search-side-bar input:focus + label,
aside#search-side-bar input:checked + label{
  background-color: #1190cd;
  border: none;
  border: 1px solid #1190cd;
}
aside article:nth-child(1) {
  background-color: #fddb87;
}
aside article:nth-child(2) {
  border: 1px solid #ccc;
}
aside article{
  border-radius: 5px;
}
aside article > div {
  display: flex;
  flex-direction: column;
}
aside article > div:not(.min-and-max-value) {
  margin-bottom: 1rem;
}
aside article > div:last-child {
  margin-bottom: 0;
}
aside article input::placeholder {
  font-size: 0.8rem;
  opacity: 4;
}
aside article:nth-child(2) input::placeholder {
  text-align: end;
  color: #777;
}
aside article input#flex-switch-check-checked {
  height: 100%;
  width: 25%;
}
aside article #option-tour-checkbox {
  display: flex;
  align-items: center;
  height: 30px;
  gap: 0.5rem;
}
/* inputs de valor min e max */
aside .min-and-max-value {
  gap: 1rem;
}
aside .min-and-max-value div {
  z-index: 3;
}
aside article:nth-child(1) .min-and-max-value input {
  padding-left: 40px;
  text-align: right;
}
aside article:nth-child(2) .min-and-max-value input {
  padding-right: 40px;
}
aside .min-and-max-value label {
  position: relative;
  width: 100%;
}
aside .min-and-max-value label::before {
  position: absolute;
  top: 40px;
}
aside article:nth-child(1) .min-and-max-value label::before {
  content: "R$";
  left: 10px;
  font-size: .7rem;
}
aside article:nth-child(2) .min-and-max-value label::before {
  content: "m²";
  right: 10px;
  font-size: .7rem;
}

aside .min-and-max-value div:nth-child(1)::after {
  content: "_______";
  position: relative;
  top: -38%;
  left: 100%;
  z-index: 1;
  color: #ccc;
}
.search-radio-options label {
  background-color: #fff;
  color: #777;
  border-radius: 45%;
  font-size: 0.9rem;
  width: 18%;
}
aside article:nth-child(1) .search-radio-options input[type="radio"] + label:hover {
  background-color: #ddd;
  color: #777;
  border-color:#ddd;
}
aside article:nth-child(1) .search-radio-options input[type="radio"] + label {
  border: 1px solid #fff;
}
aside article:nth-child(2) .search-radio-options input[type="radio"] + label {
  border-color: #777;
}

/* dropdown */
aside .select-dropdown {
  position: relative;
}
aside .select-dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 0.15rem);
  background-color: #fff;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  z-index: 10000;
  transform: translateY(-10px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  opacity: 0;
  pointer-events: none;
  display: flex;
  width: 400px;
}

aside .link {
  text-align: start;
  font-size: 0.7rem;
  padding: 0.7rem;
  color: #777;
}
aside .select-dropdown.active > .link + .select-dropdown-menu {
  transform: translateY(0px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 1;
  pointer-events: auto;
}
aside .select-dropdown-menu ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.4rem;
  align-items: center;
  width: 100%;
}
aside .select-dropdown-menu ul li {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  width: 100%;
}
aside .select-dropdown-menu ul li:not(:first-child):hover {
  background-color: rgba(108, 206, 236, 0.2);
  color: #1190cd;
}
aside .select-dropdown-menu ul li input {
  margin: 0.4rem;
}
aside .select-dropdown-menu ul li label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
